# --------------------------------------
# mac
# --------------------------------------
**/.DS_Store

# --------------------------------------
# log
# --------------------------------------
*.log
*.out

# --------------------------------------
# goland
# --------------------------------------
.idea/
