# --------------------------------------
# mac
# --------------------------------------
.DS_Store

# --------------------------------------
# golang
# --------------------------------------
*.a

# --------------------------------------
# log
# --------------------------------------
*.log
*.out

# --------------------------------------
# idea
# --------------------------------------
.idea/
*.eml
*.iml
*.ipr
*.iws

# --------------------------------------
# eclipse
# --------------------------------------
.classpath
.project
.settings/

# --------------------------------------
# temporary files
# --------------------------------------
*.tmp
*.temp
*.bak
*.backup
~*

# --------------------------------------
# vendor
# --------------------------------------
vendor/

# --------------------------------------
# password file
# --------------------------------------
*.pwd
